*{
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(to right,#432ea2,rgb(104, 147, 232));
}
.main{
    width:1000px;
    height: 1000px;;
    margin:30px;
    display: grid;
    justify-content:center;
    align-items: center;
    grid-template-columns: repeat(3,400px);
}
.movie{
    border-radius: 5px;
    height: 500px;
    width: 380px;
    background-color: rgb(33, 32, 32); 
    margin: 20px;
    margin-left:90px;
}
img{
    object-fit: contain;
    height:400px;
    width: 400px;
    margin:10px;
    cursor: pointer;
}
.movie-info{
    color:red;
    display: inline;
    padding:1 rem;
    margin:10px;

}
.orange{
    color:orange;
}
.green{
    color: green;
}
.yellow{
    color:yellow;
}

.overview{
    color:white;
    padding:1rem;
    margin:10px;
}
.search{
    border:3px solid black;
    padding: 2px;
    display:block;
    width:1100px;
    height: 50px;
    background-color: #b9b2da;
    border-radius: 5px;
    margin-left: 30px;
    margin-top:30px;
}
.search::placeholder{
    color: #211a3e;
}
h1{
    text-align: center;
}